* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}

.container-fluid{
 width: 410px;
 margin: 50px auto;
 padding: 10px;
}

.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
}

.inputs input[type="text"] {
    height: 3rem;
    width: 20rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    margin-right:4px ;
}

.inputs input[type="submit"] {
    height: 3rem;
    width: 6rem;
    background: lightblue;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
}

.wrapper {
    margin: 0 9rem;
    background-color: white;
    height: 45vh;
    margin: 50px auto;
}

.wrapper h2{
    padding: 5px 0;
    text-align: center;
    background: lightblue;
    color: white;
}

.wrapper p{
    margin:20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size:23px;
}